/*this is for the navbar*/
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 12px;
  overflow: hidden;
  background-color: black;
  color: white;
}
.nav-list-item {
  float: left;
  padding: 8px;
}
li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
/*navbar end*/
